body {
  margin: 0;
  padding: 0;
  background-color: white;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}


/*registro*/

.titulo{
  margin-left: 55px;
}

h2{
  font-family: 'BenchNine', sans-serif;
  font-weight: 10;
  color: #1a2df3;
}
.container {
	border-radius: 20px;
	max-width: 450px;
	height: auto;
	background-color: white;
	margin: 5% auto;
	padding-bottom: 1rem;
}

.registro{
  margin-left: 9%;
  
}

.parte1{
  margin: 10px;
}
.nombre{
  width: 150px;
  padding: 10px;
  background-color: #e8eafe;
  border-radius: 5px;
  border: none;
  color: #1a2df3;
  font-family: 'Cormorant', serif;
  font-family: 'Lato', sans-serif;
}

.apellido{
  width: 150px;
  padding: 10px;
  background-color: #e8eafe;
  border-radius: 5px;
  border: none;
  color: #1a2df3;
  font-family: 'Cormorant', serif;
  font-family: 'Lato', sans-serif;
}


.clear{
  clear: both;
}

.parte2{
  margin: 12px;
}
.Email{
  width: 150px;
  padding: 10px;
  background-color: #dde0fd;
  border-radius: 5px;
  border: none;
  color: #1a2df3;
}


.telefono{
  width: 150px;
  padding: 10px;
  background-color: #dde0fd;
  border-radius: 5px;
  border: none;
  color: #1a2df3;
}



.parte3{
  margin: 12px;
}

.direc{
  background-color: #c6cafc;
  width: 325px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #1a2df3;
}

.parte4{
  margin: 12px;
}

.descripcion{
  width: 338px;
  padding: 0 0 40px 8px;
  background-color: #a3abfa;
  border-radius: 5px;
  border: none;
  color: #1a2df3;
}

.envio{
  text-align: center;
	padding: 13px 40px ;
	margin: 30px;
	border: none;
  text-decoration: none;
	border-radius: 20px;
	background-color: #1a2df3;
	color: white;
}

.parte5{
  margin: 30px 20%;

}




